TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_MY_CHAT_ID=123456789

LLM_BASE_URL=http://localhost:1234
LLM_MODEL=your-model-name
LLM_API_KEY=
LLM_MAX_TOKENS=4096

# Groq Whisper
GROQ_API_KEY=

# LOCAL Whisper (OPTIONAL)
WHISPER_URL=
WHISPER_API_KEY=

DB_PATH=./data/agent.db
OBSIDIAN_VAULT_PATH=/path/to/your/vault
WORKSPACE_PATH=./workspace

POLL_INTERVAL_MS=3000
OBSIDIAN_SYNC_INTERVAL_MS=300000
